<h1>Login</h1>
<% if (messages.error) { %>
    <% messages.error %>
    <% } %>
<form action="/login" method="POST">
    <div>
        <label for="name">Email</label>
        <input type="email" id="email" name="email" placeholder="soheliarefinkona@gmail.com" required>
    </div>
    <div>
        <label for="name">Password</label>
        <input type="password" id="password" name="password" placeholder="kona123" required> 
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>